<%= add_sub_template('base', 'header') %>

<main>
  <%= add_sub_template('application_views', 'auth') %>
  <%= add_sub_template('application_views', 'proyects') %>
  <%= add_sub_template('application_views', 'snippets') %>
</main>

<%= add_sub_template('base', 'footer') %>
