<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>

  <link rel="stylesheet" href="<%= asset_path('dist/css/bootstrap.min.css') %>">
  <link rel="stylesheet" href="<%= asset_path('css/mdb.min.css') %>">
  <link rel="stylesheet" href="<%= asset_path('css/font-awesome.min.css') %>">
  <link rel="stylesheet" href="<%= asset_path('lib/codemirror.css') %>">
  <link rel="stylesheet" href="<%= asset_path('theme/railscasts.css') %>">
  <link rel="stylesheet" href="<%= asset_path('dist/jquery.toast.min.css') %>">
  <link rel="stylesheet" href="<%= asset_path('src/prettify.css') %>">
  <link rel="stylesheet" href="<%= asset_path('styles.css') %>">

  <%= add_sub_template('application_views', 'home') %>
  <%= add_sub_template('application_views', 'auth') %>
  <%= add_sub_template('application_views', 'profile') %>
  <%= add_sub_template('application_views', 'proyects') %>
  <%= add_sub_template('application_views', 'snippets') %>
  <%= add_sub_template('application_views', 'create_snippet') %>
  <%= add_sub_template('application_views', 'create_proyect') %>

  <%= add_sub_template('application_modals', 'create_modal') %>

</head>

<body>

    <%= yield %>

  <script type="text/javascript" src="<%= asset_path('dist/jquery.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/jquery-dateFormat.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/jquery.toast.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/js/tether.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/js/bootstrap.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('js/mdb.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('underscore-min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('backbone-min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('build/backbone.radio.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('lib/backbone.marionette.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('lib/codemirror.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/Chart.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('src/prettify.js') %>"></script>

  <!-- B a c k b o n e -->

  <script type="text/javascript" src="<%= asset_path('helpers/helpers.js') %>"></script>


  <script type="text/javascript" src="<%= asset_path('models/current_user_model.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('models/user_model.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('models/snippet_model.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('models/proyect_model.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('models/tag_model.js') %>"></script>

  <script type="text/javascript" src="<%= asset_path('collections/user_collections.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('collections/proyect_collection.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('collections/snippet_collection.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('collections/tag_collection.js') %>"></script>

  <script type="text/javascript" src="<%= asset_path('views/create_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/create_snippet_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/create_proyect_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/home_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/profile_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/authentication_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/header_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/proyect_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/proyects_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/snippet_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/snippets_view.js') %>"></script>

  <script type="text/javascript" src="<%= asset_path('controllers/home_controller.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('controllers/user_auth_controller.js') %>"></script>

  <script type="text/javascript" src="<%= asset_path('routes/home_routes.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('routes/user_auth_routes.js') %>"></script>

  <script type="text/javascript" src="<%= asset_path('app.js') %>"></script>

  <script>
    $(document).ready(function(){
      app.CurrentApplication = new app.Application({
            is_authenticated: <%= @current_user.is_authenticated %>,
            username: <%= @current_user.username.to_json %>,
            email: <%= @current_user.email.to_json  %>,
            id: <%= @current_user.id %>,
            permission_level: <%= @current_user.permission_level %>
      });

      app.CurrentApplication.start();

    });
  </script>

</body>
</html>