<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>

  <link rel="stylesheet" href="<%= asset_path('dist/css/bootstrap.min.css') %>">
  <link rel="stylesheet" href="<%= asset_path('css/mdb.min.css') %>">
  <link rel="stylesheet" href="<%= asset_path('css/font-awesome.min.css') %>">
  <link rel="stylesheet" href="<%= asset_path('lib/codemirror.css') %>">
  <link rel="stylesheet" href="<%= asset_path('styles.css') %>">

</head>

<body>

    <%= yield %>

  <script type="text/javascript" src="<%= asset_path('dist/jquery.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/jquery-dateFormat.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/js/tether.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/js/bootstrap.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('js/mdb.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('underscore-min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('backbone-min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('build/backbone.radio.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('lib/backbone.marionette.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('lib/codemirror.js') %>"></script>

  <!-- B a c k b o n e -->

  <script type="text/javascript" src="<%= asset_path('models/current_user_model.js') %>"></script>

  <script type="text/javascript" src="<%= asset_path('views/home_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/profile_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/authentication_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/header_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/proyect_view.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('views/snippet_view.js') %>"></script>

  <script type="text/javascript" src="<%= asset_path('controllers/home_controller.js') %>"></script>

  <script type="text/javascript" src="<%= asset_path('routes/home_routes.js') %>"></script>

  <script type="text/javascript" src="<%= asset_path('app.js') %>"></script>

  <script>
    $(document).ready(function(){
      var CurrentApplication = new app.Application({
            is_authenticated: <%= @current_user.is_authenticated %>,
            username: <%= @current_user.username %>,
            email: <%= @current_user.email %>,
            id: <%= @current_user.id %>,
            permission_level: <%= @current_user.permission_level %>
      });

      CurrentApplication.start();

    });
  </script>

</body>
</html>
